beautifulsoup4==4.5.1
dj-database-url==0.4.1
dj-static==0.0.6
Django==1.10.2
django-app-namespace-template-loader==0.4.1
django-blog-zinnia==0.18.1
django-contrib-comments==1.7.3
django-mptt==0.8.6
django-tagging==0.4.5
django-toolbelt==0.0.1
django-xmlrpc==0.1.7
ez-setup==0.9
gunicorn==19.6.0
Markdown==2.6.7
mots-vides==2015.5.11
Pillow==3.4.2
psycopg2==2.6.2
pyparsing==2.1.10
pytz==2016.7
regex==2016.10.22
six==1.10.0
static3==0.7.0
whitenoise==3.2.2
zinnia-theme-bootstrap==0.5.1
