{% extends 'webpage/base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

{% block style_block %}
<link href="{% static 'css/webpage/about.css' %}" rel="stylesheet">
{% endblock %}

{% block jumbotron_block %}
<h1>About</h1>
{% endblock %}

{% block body_block %}

<p class="paragraph">My name is Nick Hess. I am a New York City based software engineer and technology consultant.</p>

<p class="paragraph">Born and raised in Pittsburgh, PA, I graduated from Duquesne University with a degree in finance.
    Though I enjoyed and found success within the finance program, my passion has always been in the constantly evolving
    tech world. Through a combination of both formal and non-traditional schooling, I decided to focus my career on web
    development, supplementing my existing knowledge of computer science fundamentals with the languages, frameworks,
    and design patterns used in modern websites and applications. </p>

<p class="paragraph">I am currently employed full-time as a software developer with the Mental Health Association of New York City, primarily working with Python and .NET stacks built on an AWS-based cloud architecture. I have previously worked as a Creative Development Engineer(front-end) and Product Development Specialist(full-stack) at Spotible Inc. in New York, and as a Web Application Developer Intern at Urban Innovation 21 in Pittsburgh. Though I am not currently looking for a new full-time opportunity, I am available for freelance roles.</p>

{% endblock %}

{% block script_block %}
<script src="{% static 'js/webpage/about.js' %}"></script>
{% endblock %}