{% extends 'webpage/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block style_block %}
    <link href="{% static 'css/webpage/about.css' %}" rel="stylesheet">
{% endblock %}

{% block jumbotron_block %}
    <h1>About</h1>
{% endblock %}

{% block body_block %}

    <p class="paragraph">My name is Nick Hess. I am a New York City based software engineer and web developer.</p>

    <p class="paragraph">Born and raised in Pittsburgh, PA, I graduated from Duquesne University with a degree in finance. Though I enjoyed and found success within the finance program, my passion has always been in the constantly evolving tech world. Through a combination of both formal and non-traditional schooling, I decided to focus my career on web development, supplementing my existing knowledge of computer science fundamentals with the languages, frameworks, and design patterns used in modern websites and applications. </p>

    <p class="paragraph">I am currently employed full time at Spotible Inc., an ad-tech firm specializing in rich media advertising. My work at Spotible spans both front and back end technologies, ranging from the design and creation of rich media advertisements to the development and scaling of the engine that serves them.</p>

    <p class="paragraph">I have a working knowledge of many different languages and technologies. My professional tech stack consists of Javascript and related frameworks backed by Java, while I generally prefer the Python ecosystem for personal and side projects (including this website, built with django: you can view the source code <a href="https://github.com/hessproject/new-portfolio-site">here</a>)</p>

{% endblock %}

{% block script_block %}
    <script src="{% static 'js/webpage/about.js' %}"></script>
{% endblock %}