{% extends 'webpage/base.html' %}
{% load staticfiles %}

{% block title_block %}
About
{% endblock %}

{% block style_block %}
<link href="{% static 'css/webpage/about.css' %}" rel="stylesheet">
{% endblock %}

{% block jumbotron_block %}
<h1>About</h1>
{% endblock %}

{% block body_block %}

<p class="paragraph">My name is Nick Hess. I am a New York City based software engineer and technology consultant.</p>

<p class="paragraph">Born and raised in Pittsburgh, PA, I graduated from Duquesne University with a degree in finance.
    Though I enjoyed and found success within the finance program, my passion has always been in the constantly evolving
    tech world. Through a combination of both formal and non-traditional schooling, I decided to focus my career on web
    development, supplementing my existing knowledge of computer science fundamentals with the languages, frameworks,
    and design patterns used in modern websites and applications. </p>

<p class="paragraph">I am skilled across many platforms and languages, including but not limited to Javascript, Python, and Ruby. I am currently available for full time, contract, or freelance work.</p>

{% endblock %}

{% block script_block %}
<script src="{% static 'js/webpage/about.js' %}"></script>
{% endblock %}