{% extends 'webpage/base.html' %}
{% load static %}

{% block title_block %}
    Examples
{% endblock %}

{% block style_block %}
    <link href="{% static 'css/webpage/examples.css' %}" rel="stylesheet">
{% endblock %}

{% block jumbotron_block %}
    <h1>Professional Project Examples</h1>
{% endblock %}

{% block body_block %}
<div class="example col-xs-12 col-sm-6">
    <h4>Dos Equis Video Wall - Rolling Stone</h4>
    <img class="thumbnail" src="{% static 'img/examples/DosEquis.png'%}">
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Hands of Stone Theater Unit - Mens Fitness</h4>
    <img class="thumbnail" src="{% static 'img/examples/HandsOfStone.png' %}">
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Sports Video Wall - Newsday</h4>
   <img class="thumbnail" src="{% static 'img/examples/NewsdaySports.png'%}">
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Piping Rock Photo Carousel - Life and Style</h4>
    <img class="thumbnail" src="{% static 'img/examples/PhotoCarousel.png'%}">
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Toyota Gatefold - Bossip</h4>
    <img class="thumbnail" src="{% static 'img/examples/ToyotaGatefold.png'%}">
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Jaguar Cineflex - The Atlantic</h4>
    <img class="thumbnail" src="{% static 'img/examples/JaguarCineflex.png'%}">
</div>
{% endblock %}

{% block script_block %}
<script src="{% static 'js/webpage/examples.js' %}"></script>
{% endblock %}