{% extends 'webpage/base.html' %}
{% load static %}

{% block title_block %}
    Examples
{% endblock %}

{% block style_block %}
    <link href="{% static 'css/webpage/examples.css' %}" rel="stylesheet">
{% endblock %}

{% block jumbotron_block %}
    <h1>Professional Work Samples</h1>
{% endblock %}

{% block body_block %}

<div class="example col-xs-12 col-sm-6">
    <h4>Dos Equis Video Wall - Rolling Stone</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Dos Equis Video Wall - Rolling Stone" data-video="/static/video/DosEquisWall.mp4"><img class="videoThumbnail" src="{% static 'img/examples/DosEquis.png'%}"></a>
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Hands of Stone Theater Unit - Mens Fitness</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Hands of Stone Theater Unit - Mens Fitness" data-video="/static/video/HandsOfStoneTheater.mp4"><img class="videoThumbnail" src="{% static 'img/examples/HandsOfStone.png' %}"></a>
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Sports Video Wall - Newsday</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Sports Video Wall - Newsday" data-video="/static/video/NewsdaySports.mp4"><img class="videoThumbnail" src="{% static 'img/examples/NewsdaySports.png'%}"></a>
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Piping Rock Photo Carousel - Life and Style</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Piping Rock Photo Carousel - Life and Style" data-video="/static/video/PhotoCarousel.mp4"><img class="videoThumbnail" src="{% static 'img/examples/PhotoCarousel.png'%}"></a>
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Toyota Gatefold - Bossip</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Toyota Gatefold - Bossip" data-video="/static/video/ToyotaGatefold.mp4"><img class="videoThumbnail" src="{% static 'img/examples/ToyotaGatefold.png'%}"></a>
</div>
<div class="example col-xs-12 col-sm-6">
    <h4>Jaguar Cineflex - The Atlantic</h4>
    <a href="#" data-toggle="modal" data-target="#exampleModal" data-title="Jaguar Cineflex - The Atlantic" data-video="/static/video/JaguarCineflex.mp4"><img class="videoThumbnail" src="{% static 'img/examples/JaguarCineflex.png'%}"></a>
</div>

<div class="modal fade" id="exampleModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">Modal title</h5>
      </div>
      <div class="modal-body">
        <video class="modal-video" id="exampleVideo" width="100%" controls></video>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}

{% block script_block %}
<script src="{% static 'js/webpage/examples.js' %}"></script>
{% endblock %}