body{
    overflow-x: hidden;
    background: url('../../img/examplesbackground.png');
}

h5{
    color: black;
    text-shadow: none;
}

.jumbotron{
    margin-top: -15px;
    margin-bottom: -35px;
}

.exampleThumbnail{
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 250px;
    margin-bottom: 10px;
}

.exampleThumbnail > img {
    height: 100%;
    width: 100%;
}

.example{
    text-align: center;
}